<h1>Angular 5 Password Strength (keyUp event)
</h1>
<form class="pure-form" onsubmit="return false">
    <input type="text" size="10" (keyup)="onKey($event)" id="inputPass" name="password" [(ngModel)]="password" />
    <button
      type="button" (click)="checkPassword()"
      class="pure-button pure-button-primary">Check</button>
    <button
      type="button" id="button" (click)="resetPassword()"
      class="pure-button">Reset</button>
</form>

<mat-card>
  <mat-card-content>

    <section class="example-section">
      <mat-progress-bar id="progressBar"
        class="example-margin"
        [color]="color"
        [mode]="mode"
        [value]="value"
        [bufferValue]="bufferValue">
      </mat-progress-bar>
    </section>
  </mat-card-content>
</mat-card>





<p id="resultStatement">{{messages["0"]}}</p>
<p>{{messages["1"]}}</p>
<p>{{messages["2"]}}</p>
<p>{{messages["3"]}}</p>
<p>{{messages["4"]}}</p>


