div {
    font-size: smaller
}

p{
  color:red
}

#progressBar{
  width:200px;
  left:0;
}

.pure-form{
  margin-left: 20px;
}

#inputPass{
  width:200px;
}

/*meter {*/
  /*!* Reset the default appearance *!*/
  /*-webkit-appearance: none;*/
  /*-moz-appearance: none;*/
  /*appearance: none;*/

  /*margin: 20px auto 1em;*/
  /*width: 20%;*/
  /*height: 0.5em;*/

  /*!* Applicable only to Firefox *!*/
  /*background: none;*/
  /*background-color: rgba(0, 0, 0, 0.1);*/
/*}*/

/*meter::-webkit-meter-bar {*/
  /*background: none;*/
  /*background-color: rgba(0, 0, 0, 0.1);*/
/*}*/

/*meter[value="1"]::-webkit-meter-optimum-value { background: red; }*/
/*meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }*/
/*meter[value="3"]::-webkit-meter-optimum-value { background: orange; }*/
/*meter[value="4"]::-webkit-meter-optimum-value { background: green; }*/


