<h1>Angular 5 Hands-on: Password Strength
</h1>
<form class="pure-form" onsubmit="return false">
    <input type="text" size="10" name="password" [(ngModel)]="password" />
    <button
      type="button" (click)="checkPassword()"
      class="pure-button pure-button-primary">Check</button>
    <button
      type="button" (click)="resetPassword()"
      class="pure-button">Reset</button>
</form>
<p>{{message}}</p>
<div>
  After getting the message working, put in a progress bar.
</div>
<div>
  You can make your own progress bar, or use open source.
</div>
<div>
  I would take a look at 
  <a href="https://material.angular.io/components/progress-bar/overview">
    https://material.angular.io/components/progress-bar/overview</a>
  </div>